figure {
  width: 400px;
  background: #aaa;
  border: 1px solid #999;
  overflow: hidden;
}

figure img {
  width: 100%;
  height: 300px;
  background: #eee;
  margin-bottom: -4em;
  display: block;
}

figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #fff;
  opacity: 0;
  transition: all .5s;
}

figure:hover figcaption {
  transform: translateY(0em);
  opacity: .78;
}
